*{
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#main {
    /* width: 100%;
    height: 100%; */
    /* position: absolute; */
    margin: auto;
    /* background-color: aqua;  */
    /* overflow: hidden; */
}

.block {
    background-color: green;
    float: left;
    animation: rotate ease-in-out 3s infinite, color ease 5s infinite;
}

.block:hover{
    animation: flip ease-in-out 5s;
}

@keyframes flip {
    0%{
        transform: rotate(0);
    }
    30%{
        transform: rotate(190deg);
    }
    70%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes color {
    0% {
        background-color: #E5C1BD;
    }
    20% {
        background-color: #D2D0BA;
    }
    40% {
        background-color: #B6BE9C;
    }
    60% {
        background-color: #7B9E87;
    }
    80% {
        background-color: #5E747F;
    }
    100% {
        background-color: #E5C1BD;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }

    20%{
        transform: rotate(80deg);
    }
    40%{
        transform: rotate(120deg);
    }
        
    60%{
        transform: rotate(240deg);
    }
    80%{
        transform: rotate(320deg);
    }

    100%{
        transform: rotate(360deg);
    }
}