<div id="QBlock" class="m-5 text-center d-block">
    <h2>Looks Like You're Having a Hard Time With This Question. Do You Want to Give Up?</h2>
    <div>
        <button id="giveUp">Yes! This is too hard!</button>
        <button id="continue">Give me 5 more tries!</button>
    </div>
    <h2 id="answer" class="invisible text-success">The Answer is.... <%- selectedRiddle.A %> </h2>
</div>