<%- include('../template/head')-%>

    <body class="container-lg">
        <div class="row m-5">
            <div class="col-sm">
                <h1 class="text-center">
                    Welcome to the Guessing Game!
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input type="text" id="guessAnswer">
                <button id="answerButton" type="submit">Give it a Guess! Why not?</button>
            </div>
        </div>
    </body>
</html>